.terminal {

  font-size: 64px;
  font-weight: 700;

  font-family: "JetBrains Mono", monospace;

  display: flex;
  align-items: center;

}

/* prompt > */
.prompt {

  margin-right: 8px;

}

/* letras começam invisíveis */
.letter {

  opacity: 0;

}

/* R aparece primeiro */
.letter-r {

  animation: typeLetter 0.2s forwards;
  animation-delay: 0.4s;

}

/* B aparece depois */
.letter-b {

  animation: typeLetter 0.2s forwards;
  animation-delay: 0.8s;

}

@keyframes typeLetter {

  to {
    opacity: 1;
  }

}

/* cursor piscando */
.cursor {

  width: 12px;
  height: 64px;

  background: #dfdfdf;

  margin-left: 6px;

  animation: blink 1s infinite;

}

@keyframes blink {

  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }

}