.cinematic-button {
  background: linear-gradient(
    90deg,
    rgba(56,189,248,1),
    rgba(34,211,238,1)
  );

  box-shadow:
    0 0 30px rgba(56,189,248,0.35);

  transition: all .4s ease;
}

.cinematic-button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 0 50px rgba(56,189,248,0.55);
}
