@use 'variables' as *;
.bg-app {
  background-color: $color-bg;
}

.text-app {
  color: $color-text;
}

.text-muted {
  color: $color-muted;
}

.bg-border {
  background-color: $color-border;
}

.btn-primary {
  background-color: $color-primary;
  color: #020617;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn-outline {
  border: 1px solid $color-border;
  color: $color-text;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
  }
}
