@use 'variables' as *;

.bg-app {
  background-color: $color-bg;
}

.text-app {
  color: $color-text;
}

.text-muted {
  color: $color-muted;
}

.btn-primary {
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn-outline {
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}
