/* Neutros */
$color-bg: #f6fbff;        // slate-50
$color-text: #0f172a;      // slate-900
$color-muted: #475569;     // slate-600

/* Destaque */
$color-primary: #0f172a;
$color-primary-hover: #1e293b;
