@theme {

  /* FUNDO PRINCIPAL — muito mais agradável */
  --color-bg: #1E2430;

  /* SUPERFÍCIES */
  --color-surface: #252B3B;
  --color-surface2: #2C3446;

  /* PRIMARY (seu azul atual, perfeito) */
  --color-primary: #38bdf8;
  --color-primarySoft: #38bdf820;

  /* TEXTO */
  --color-text: #EAF2FF;
  --color-textMuted: #A7B4C8;

  /* BORDAS */
  --color-border: #3A4458;

  /* GLOW */
  --bg-glow-primary: 56, 189, 248;
  --bg-glow-secondary: 80, 120, 200;


  --animate-stack-scroll: stack-scroll 40s linear infinite;

}