@theme {

  --color-bg: #333;

  --color-surface: #111F33;

  --color-surface2: #16263F;

  --color-primary: #2ECF70;

  --color-primarySoft: #2ECF7020;

  --color-text: #E6EDF3;

  --color-textMuted: #8B9BB3;

  --color-border: #1F2F4A;

  --animate-stack-scroll: stack-scroll 40s linear infinite;

}
