:root {

    --color-accent-info: theme(colors.sky.400);
    --color-accent-success: theme(colors.emerald.400);
    --color-accent-feature: theme(colors.violet.400);


    --color-primary: 56, 189, 248;
    --color-secondary: 168, 85, 247;
    --color-accent: 52, 211, 153;

    --color-background: 7, 16, 28;

    --color-text-main: 240, 245, 255;
    --color-text-muted: 160, 174, 192;

    --bg-glow-primary: 56, 189, 248;
    --bg-glow-secondary: 99, 102, 241;
    --bg-glow-neutral: 255, 255, 255;

}