@theme {

  /* BACKGROUND */
  --color-bg: #0F223A;

  /* SURFACES */
  --color-surface: #111827;
  --color-surface2: #162033;

  /* PRIMARY */
  --color-primary: #38BDF8;
  --color-primary-hover: #60A5FA;
  --color-primarySoft: rgba(56, 189, 248, 0.12);

  /* TEXT */
  --color-text: #E5E7EB;
  --color-textMuted: #94A3B8;

  /* BORDER */
  --color-border: #1F2937;

  /* GLOW RGB */
  --bg-glow-primary: 56, 189, 248;
  --bg-glow-secondary: 37, 99, 235;

  /* ANIMATION */
  --animate-stack-scroll: stack-scroll 40s linear infinite;

}