  @theme {
   --color-bg: #121212;

  --color-surface: #111F33;
  --color-surface2: #16263F;
    --color-primary: #38bdf8;
    --color-primarySoft: #2ECF7020;

    --color-text: #E6EDF3;
    --color-textMuted: #9CA3AF;

    --color-border: #2A2A2A;

    --animate-stack-scroll: stack-scroll 40s linear infinite;

    --bg-glow-primary: 34, 71, 153;
    --bg-glow-secondary: 38, 46, 74;

  }