@theme {

  /* base MAIS CLARA */
  --color-bg: #16181D;

  /* surfaces MAIS VISÍVEIS */
  --color-surface: #1B2230;
  --color-surface2: #1F2937;

  /* primary continua perfeito */
  --color-primary: #38bdf8;
  --color-primarySoft: #38bdf820;

  /* texto */
  --color-text: #E6EDF3;
  --color-textMuted: #9CA3AF;

  /* border mais visível */
  --color-border: #2F3848;

  /* glow ajustado */
  --bg-glow-primary: 56,189,248;
  --bg-glow-secondary: 34,71,153;

}
