@theme {

  /* DARK THEME (default) */

  --color-bg: #0F223A;

  --color-surface: #111827;
  --color-surface2: #162033;

  --color-primary: #38BDF8;
  --color-primary-hover: #60A5FA;
  --color-primarySoft: rgba(56, 189, 248, 0.12);

  --color-text: #E5E7EB;
  --color-textMuted: #94A3B8;

  --color-border: #1F2937;

  --bg-glow-primary: 56, 189, 248;
  --bg-glow-secondary: 37, 99, 235;

  --animate-stack-scroll: stack-scroll 40s linear infinite;

}


/* LIGHT THEME OVERRIDE */

[data-theme="light"] {

  --color-bg: #F8FAFC;

  --color-surface: #FFFFFF;
  --color-surface2: #F1F5F9;

  --color-primary: #0284C7;
  --color-primary-hover: #0369A1;
  --color-primarySoft: rgba(2, 132, 199, 0.12);

  --color-text: #0F172A;
  --color-textMuted: #64748B;

  --color-border: #E2E8F0;

  --bg-glow-primary: 2, 132, 199;
  --bg-glow-secondary: 59, 130, 246;

}