<section class="bg-app py-28 md:py-36">
  <div class="mx-auto max-w-6xl px-6 md:px-8">

    <!-- Overline -->
    <p class="mb-20 text-[11px] uppercase tracking-[0.35em] text-sky-400">
      Stack Overview
    </p>

    <!-- GRID PRINCIPAL -->
 <div class="flex items-start justify-between gap-24">


      <!-- COLUNA ESQUERDA -->
       <div class="flex flex-col gap-24">
        <ng-container
          *ngFor="let section of stackLeft; trackBy: trackByTitle"
        >
          <app-section
            [section]="section"
          ></app-section>
        </ng-container>
      </div>

      <!-- COLUNA DIREITA -->
       <div class="flex flex-col gap-24">
        <ng-container
          *ngFor="let section of stackRight; trackBy: trackByTitle"
        >
          <app-section
            [section]="section"
          ></app-section>
        </ng-container>
      </div>

    </div>
  </div>
</section>
