@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "../src/app/style/theme.tokens.scss";
@import "../src/app/style/keyframe.scss";

.hero-anim {

  opacity: 0;

  transform: translate3d(0, 24px, 0);

  animation: heroFadeUp 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;

}

.hero-anim-1 { animation-delay: 0.1s; }

.hero-anim-2 { animation-delay: 0.2s; }

.hero-anim-3 { animation-delay: 0.35s; }

.hero-anim-4 { animation-delay: 0.5s; }

.hero-anim-5 { animation-delay: 0.65s; }


@keyframes heroFadeUp {

  to {

    opacity: 1;

    transform: translate3d(0, 0, 0);

  }

}
