@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "../src/app/style/theme.tokens.scss";
@import "../src/app/style/keyframe.scss";
@import "../src/app/style/splash.scss";



.reveal {

  opacity: 0;

  transform:
    translateY(24px)
    scale(0.98);

  filter: blur(6px);

  transition:

    opacity 700ms cubic-bezier(0.16, 1, 0.3, 1),

    transform 700ms cubic-bezier(0.16, 1, 0.3, 1),

    filter 700ms cubic-bezier(0.16, 1, 0.3, 1);

}


.reveal-visible {

  opacity: 1;

  transform:
    translateY(0)
    scale(1);

  filter: blur(0);

}
